@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$font-1: 'Roboto', sans-serif;
// $font-1: 'Noto Sans TC';
// $font-1: sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $font-1;
    min-height: 100vh;
    scroll-behavior: smooth;
    // color: #90749c;
}