.contact {
    background-color: #12001a;

    &__content {
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
        text-align: center;
        color: #12001a;
        z-index: 100;

    }

    &__title {
        font-size: 2.5em;
        color: whitesmoke;
    }

    &__subtitle {
        font-size: 1.5em;
        color: whitesmoke;
    }

    &__mail {
        font-size: 2em;
        padding: 5px;
        text-decoration: none;
        color: #90749c;
        font-weight: bold;
        position: relative;
        transition: color 0.5s ease;
        cursor: pointer;

        &:hover {
            color: white;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background: #5c4964;
            transition: max-width .5s ease;
            width: 100%;
            max-width: 0px;
            z-index: -1;
        }

        &:hover::before {
            max-width: 100%;
            right: unset;
            left: 0;
        }
    }

    &__links--flex {
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    &__links {
        padding: 5px;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        color: #90749c;
        position: relative;
        transition: color 0.5s ease;
        cursor: pointer;

        &:hover {
            color: white;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background: #5c4964;
            transition: max-width .5s ease;
            width: 100%;
            max-width: 0px;
            z-index: -1;
        }

        &:hover::before {
            max-width: 100%;
            right: unset;
            left: 0;
        }
    }

    &__btn {
        align-items: center;
        background-color: #5c4964;
        border: 2px solid #5c4964;
        color: #fff;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        height: 48px;
        justify-content: center;
        letter-spacing: -.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all .5s;
        user-select: none;
        touch-action: manipulation;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    &__btnLink {
        text-decoration: none;
        color: #fff;
    }


    &__btn:hover {
        background-color: #5c496494;
        border-color: #5c496494;
        fill: #5c4964;
    }

    &__btn:active {
        background-color: #5c4964;
        border-color: #5c4964;
        fill: #5c4964;
    }

    @media (min-width: 768px) {
        &__btn {
            min-width: 170px;
        }
    }
}

.contact {

    &__content {
        @media(max-width: 530px) {
            padding: 20px;
        }
    }

    &__mail {
        @media(max-width: 530px) {
            font-size: 1.8em;
        }
    }

    &__links--flex {
        @media(max-width: 530px) {
            flex-direction: column;
            gap: 10px;
        }
    }
}